// Basic Text Style
body {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #222;
}
h1{
  font-family: 'Arial', sans-serif;
  font-weight: 800;
}
h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}
